{% extends "base.html" %}

{% block content %}
<h1>About Django Snacks</h1>

<br><br>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum tortor magna, vitae tristique ex fringilla nec. Ut vitae sem ut nisl commodo scelerisque. Suspendisse commodo, eros vitae posuere rhoncus, ante leo posuere ipsum, ut maximus lectus sem ut dolor. Integer ante nulla, feugiat at erat at, gravida aliquam mauris. Nulla aliquam augue nec ornare imperdiet. Quisque elementum commodo sem, sed eleifend est. Curabitur justo ante, tincidunt a pretium non, pharetra nec odio. Pellentesque eu leo egestas, scelerisque nisi sit amet, luctus massa. Fusce lobortis urna venenatis, lacinia dolor ac, consectetur lacus. In viverra nisl mauris, sed tincidunt tellus euismod ac. Nulla facilisi. Maecenas consectetur rhoncus dapibus. Donec sed dapibus sapien, quis dapibus nunc. Aenean dignissim auctor ligula, id ultrices tellus ornare a. Donec lacinia consectetur neque eget vehicula.

    Sed congue lectus lobortis sem ornare, et fringilla augue varius. Curabitur convallis purus quis blandit tristique. Suspendisse eget mi odio. Fusce nec molestie mauris. Nullam non tortor sit amet felis consequat tincidunt. Quisque posuere, velit et rhoncus ultrices, elit nisl egestas lacus, vel lobortis mi turpis ut turpis. Integer a risus nec metus bibendum pretium quis eu risus. Suspendisse metus ligula, consectetur a enim eget, malesuada dictum odio. Ut nec urna auctor, malesuada lectus sit amet, congue ipsum.
    
    Nam dictum auctor auctor. Quisque placerat varius lacus, ut interdum massa fermentum non. Phasellus varius, metus a mattis fermentum, sapien purus cursus tellus, suscipit finibus metus orci vel nunc. Fusce nec nisi tincidunt magna accumsan finibus fermentum in felis. Mauris pretium ullamcorper imperdiet. Fusce viverra id diam sit amet blandit. Fusce suscipit nec nibh nec imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet condimentum lorem, sed egestas odio viverra at. Aliquam eget nisl ut ligula convallis convallis. Aenean bibendum gravida arcu, id facilisis ante viverra at. Curabitur vitae justo vel nulla cursus vestibulum. Donec ipsum leo, pretium feugiat mauris sed, condimentum convallis felis. Aenean vel suscipit dolor. Integer erat eros, eleifend sit amet enim in, cursus vestibulum ante.
    
    Donec sed lectus magna. In hendrerit purus quis pharetra hendrerit. Proin auctor dignissim neque, sed viverra neque efficitur et. Aliquam feugiat sem accumsan diam hendrerit ullamcorper. Donec vel dui sit amet urna pellentesque scelerisque eget vitae enim. Sed non lorem aliquet massa pharetra scelerisque. Mauris quis cursus augue, non cursus lorem. Duis a dictum mi. Cras eu purus libero.
    
    Ut sit amet mauris enim. Suspendisse id nisi id ipsum commodo aliquam. Aliquam tempus sagittis orci, non facilisis tellus ullamcorper eu. Quisque nec urna at est pellentesque mollis vel in sem. Cras vitae pulvinar velit. Vivamus mollis turpis non leo feugiat consectetur. Quisque sed bibendum libero. Vivamus dictum condimentum velit, in varius libero vehicula sit amet.</p>

<br><br>

<h2>Health Facts</h2>

<br>
<p>1- Embrace Choccymilk</p>
<p>2- Reject sub-snacks.</p>
<p>3- Become enlightened.</p>

{% endblock content %}