{% extends "base.html" %}

{% block content %}
<h1>Django Snacks</h1>

<br><br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolorum quas aliquam distinctio. Veniam provident excepturi deleniti exercitationem eum ratione explicabo unde, quis harum fuga, alias ut, natus veritatis nemo!</p>

<br><br>

<h2>Class 26</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolorum quas aliquam distinctio. Veniam provident excepturi deleniti exercitationem eum ratione explicabo unde, quis harum fuga, alias ut, natus veritatis nemo!</p>

<br><br>

<form>
    <fieldset>
        <legend>django</legend>
        <p>How much Django is too much Django?</p>
        <input type="radio" name="yes" id="yes" value = "yes">
        <label for="yes">yes</label>
        <br>
        <input type="radio" name="yes2" id="yes2" value = "yes2">
        <label for="yes2">yes</label>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<br><br>

<h2>Snack Facts</h2>

<br><br>

<form>
    <fieldset>
        <legend>chocomilk</legend>
        <p>Why is chocomilk superior to any other form of "snacks"?</p>
        <input type="radio" name="answer1" id="answer1" value = "answer1">
        <label for="answer1">Because it just is.</label>
        <br>
        <input type="radio" name="answer2" id="answer2" value = "answer2">
        <label for="answer2">Why not?</label>
        <br>
        <input type="radio" name="answer4" id="answer4" value = "answer4">
        <label for="answer4">Because it's easier to consume.</label>
        <br>
        <input type="radio" name="answer3" id="answer3" value = "answer3">
        <label for="answer3">Because all other snacks are inferior to chocomilk.</label>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

{% endblock content %}

